body {
    background-color: rgb(35, 10, 45);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
header {
    background-color: rgb(59, 23, 73);
    width: 90%;
    height: 50%;
    margin: 5px;
    border-spacing: 50px;
    border-radius: 5px;
}
h1 {
    color: aliceblue;
}









/*Esto es para el color de la NavBar de bootstrap*/
.navbar{
    background-color: #1C2942;
}

.navbar-brand{
    color: antiquewhite;
}

/*Esto es para el color de las letras de la navbar*/
.nav-link{
    color: antiquewhite !important;
    font-family: 'Helvetica';
    font-size: large;
}


/*Cosas del carrusel del inicio*/

.carousel-item h3{
    color: antiquewhite;
}

.carousel-item p{
    color: #1C2942;
}

.carousel-indicators button {
    filter: invert(1); /* Cambia el color a blanco */
}

.carousel-control-prev,
.carousel-control-next {
    color: aliceblue;
}

.carrusel{
    background-color: #d7462d;
}

/*Cosas del carrusel del inicio*/


.especialidad {
    background-color: antiquewhite;
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: space-around; /* Distribuye mejor los elementos */
    padding: 20px;
}

.especialidad img {
    max-width: 40%; /* Reduce el tamaño de la imagen */
    height: auto;
    padding: 20px; /* Menos padding para no generar espacios excesivos */
    border-radius: 10px; /* Bordes redondeados para mejor estética */
}

.especialidad p {
    width: 35%;
    font-size: 1.5rem; /* Aumenta el tamaño del texto */
    font-weight: bold;
    text-align: left; /* Alinea el texto a la izquierda */
    color: #1C2942; /* Color más oscuro para mejor contraste */
}

.apartado {
    background-color: white;
    padding: 50%;
}

.apartado p {
    font-size: 1.5rem; /* Aumenta el tamaño del texto */
    font-weight: bold;
}